<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!--<strong><%= link_to 'bookshelf', root_path, :class => 'navbar-brand' %></strong> -->
			<%= link_to root_url do %>
            <%= link_to(image_tag("book_logo3.png", :alt => "home image", :width => 55, :height => 55, :title => "Click here to return to Home")) %>
            <% end %>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
			  <li><%= link_to 'Home', root_path %></li>
		    <li><%= link_to 'About Us', library_about_path %></li>
		    <li><%= link_to 'Contact Us', library_contact_path %></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<% if user_signed_in? %>
				  <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
				  <li><%= link_to 'My Bookshelf', books_path %></li>
				  <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to('Sign in', new_user_session_path) %></li>
					<li><%= link_to('Sign up', new_user_registration_path) %></li>
				<% end %>
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>
